# fly.toml app configuration file generated for billetterie on 2025-04-14T20:04:27-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'billetterie'
primary_region = 'yul'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  max_machines_running = 1
  processes = ['app']
  [[http_service.checks]]
    grace_period = "40s"
    interval = "1m0s"
    method = "GET"
    path = "/readyz"
    timeout = "5s"
    protocol = "http"
    [http_service.checks.headers]
      X-Forwarded-Proto = "https"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[build]
builder = "paketobuildpacks/builder-noble-java-tiny"
#buildpacks = ["gcr.io/paketo-buildpacks/java"]


[build.args]
#BP_NATIVE_IMAGE="true"
#BP_JVM_CDS_ENABLED="true"
#BP_SPRING_AOT_ENABLED="true"
SKIP_SPOTLESS=true
BP_JVM_VERSION="21"
# this is for the prettier plugin, that uses node / npm
# the node installation will be coming from the frontend-plugin, and since it executes first, prettier will reuse it
PATH="$PATH:/workspace/target/node"
#JAVA_TOOL_OPTIONS='-XX:ActiveProcessorCount=-1'
#CDS_TRAINING_JAVA_TOOL_OPTIONS="-Dspring.jpa.hibernate.ddl-auto=none -Dhibernate.dialect=org.hibernate.dialect.PostgreSQLDialect"
#BP_GRADLE_BUILD_ARGUMENTS="--no-daemon -Dorg.gradle.welcome=never -x collectReachabilityMetadata assemble"
